.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #ccc;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
    cursor: pointer;
    margin: 10px 0px 10px 0px; 
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.button:active {
    Xposition: absolute;
    top: 1px;
}
.button {
    Xposition:absolute; 
}
.printButton {
    position:absolute; 
  right: 0px;
  top:-40px; 
}
.editButton {
    position:absolute; 
  right: 100px;
    top:-40px;  
}
.nextButton, .previousButton {
   
    cursor: pointer;
    margin-top: 10px; 
    
    
    position: absolute;
   
}
.nextButton:hover, .previousButton:hover {
color: black; 

}

.previousButton {
   
    

   left: 10px; 
   top: 0px; 
}
.nextButton {
    

    position: absolute;
   right: 10px;
    top: 0px;  
}
.navBar {
    color: #808080; 
    border-top: 1px solid #ccc;  
    position:relative;
    padding-top: 10px; 
    margin-top: 15px 0px 5px 0px; 
    text-align: center;   
}

#pageCount 
{
    text-align: center; 
}




body {
   background-color: #eee; 
  text-align: center;
      width: 1010px; 
   margin:40px auto 0px auto;
   font-family: Arial;     
    
}
body.toolbar-drawer {
    padding-top: 0px; 
}

#content {
    background-color: #fff;
    width: 990px;
    top: 0px;
    width: 990px; 
    
    text-align: left;
    padding: 0px 20px 20px 20px;
    margin: 0px 0px 20px 0px; 
    box-shadow: 0px 5px 5px #ddd;   
 

}

.field-name-field-author-information {
    Xposition: absolute;
    font-size:11px;  
width: 200px; 

 

}

#node_page_full_group_page_content {

    height: auto; 
    overflow-x: hidden;
    margin:0px; 
    background-color: #ffffff;
      
 
}


#node_page_full_group_header {
        position: relative; 
        
    box-sizing:border-box;  
    width:630px;
    height: 400px; 
    float: left;
    margin: 0px 60px 0px 0px;
   
  
}
.field-name-field-lead-paragraph {
    
    font-size: medium; 
    line-height: 150%;  
    font-weight: 200;
    padding: 0px 20px 0px 0px;    
    
}
h1 {
    font-weight:600; 
   padding-top: 10px;
   margin:  0px 0px 10px 0px;   
    
    
}

.field-name-body {
    font-size: smaller; 
     
      
   column-gap:30px;
-moz-column-gap:30px; /* Firefox */
-webkit-column-gap:30px; 
    
 column-width:300px;
-moz-column-width:300px; /* Firefox */
-webkit-column-width:300px;
height: 480px;
margin:  0px 0px 10px 0px; 
width: auto;
text-align: justify;
line-height: 140%;  


}

.field-name-field-subtitle {
    
    font-size: x-large;  
    font-weight: 400;
    margin-bottom: 10px;  
}


.field-collection-item-field-author-information  {
    color: black;
    width: 500px;
    margin: 0px 0px 5px 0px; 
     
}
.field-name-field-author-name {
    font-weight: 800; 
    
    
}


   


.group-icon-left-column {
    display: block; 
    
   float: left;
 
   margin: 0px 30px 0px 0px;    
    }
.group-icon-right-column {
    width: 600px; 
    float: left;
    
}


    


    .field-name-field-iconography {
    width: 100%; 
    background-color: #333;
    border: 1px solid black; 
    
   font-size: 12px; 
    color: white;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;  
 
    
    }



    #main {

   position: relative;
   text-align: left;  
    
    }




.field-name-field-iconography .field-item {
   position:relative;  
    
}
.field-name-field-iconography .button {
    position: absolute;  

top:5px; 
right: 5px; 

}


.field-name-field-iconography .button:first-child {

right: 115px !important; 

}

.group-icon-right-column .field-label {
    display: inline;
    width:auto;  
    
    
}
.action-links-field-collection-add li {
   list-style-type: none;
   left: 0px;  
    
}

#toolbar, .tabs,  .breadcrumb, .error {
    display: none; 
    
    }
  .field-collection-container {
    border-bottom: none !important; 
    margin-bottom: 0px !important;   
    }


.vertical-tabs {
    display: none; 


}




@media print  {
    #node_page_full_group_header  {
    float: none;
    height:auto;
  

    
    }

  

.field-name-field-iconography {
    overflow: visible; 
    
    
    
}

    .button, .navBar {
    display: none !important; 
    } 

    .field-name-body {
        height: auto;
        font-size: larger; 
   
    }

}
